{% macro render_field(field)%}
    <!-- <dt> {{field.label}} </dt>
    <dd> {{ field(**kwargs)|safe }}  </dd> -->
    
    <p class = formInput> {{ field(**kwargs)|safe }}  </p>
    
    <!-- Imprimir lista de errores -->
    {% if field.errors%}
        <ul>
            {% for error in field.errors %}
                <li> 
                    {{error}}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

{% endmacro %}

{% macro show_collection(coleccion,usuario) %}
    <div class="list-group" >
        {% for elemento in coleccion %}        
            <a href="/{{usuario}}/{{elemento.data}}" class="list-group-item list-group-item-action"> {{elemento.data}} </a> 
        {% endfor %}
    </div>
{% endmacro %}

{% macro show_game(coleccion, usuario , nombre_coleccion, nombresElementos)%}
    <div class="list-group" >
        {% for elemento in coleccion %}        
            <a href="/{{usuario}}/{{nombre_coleccion}}?juego={{elemento}}" class="list-group-item list-group-item-action"> {{ nombresElementos.getElement(loop.index0) }}</a> 
        {% endfor %}
    </div>    
{% endmacro %}

{% macro show_results(resultados, id, nombreLista) %}
    <ol id="lista">
        {% for elemento in resultados %}
            <li> <a href="/{{id}}/{{nombreLista}}/search/{{elemento.getElement(1)}}"> {{ elemento.getElement(0) }} </a> </li>
        {% endfor %}
    </ol>
{% endmacro %}}


