{% extends 'base/base.html' %}

{% block titulo %}
    <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/styleuser.css') }}">
    <title id = titulo> {{nombre}} </title> 
    <script defer>
        function sortList(ascending){
            var list, i, switching, b, shouldSwitch;
            list = document.getElementById("lista");
            switching = true;
            while (switching) {
                switching = false;
                b = list.getElementsByTagName("LI");
                console.log(b.innerText)
                for (i = 0; i < (b.length - 1); i++) {
                shouldSwitch = false;
                
                if(ascending){
                    if (b[i].innerText.toLowerCase() > b[i + 1].innerText.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                    }
                } else{
                    if (b[i].innerText.toLowerCase() < b[i + 1].innerText.toLowerCase()) {
                    shouldSwitch = true;
                    break;
                    }
                }
                
                }
                if (shouldSwitch) {                
                b[i].parentNode.insertBefore(b[i + 1], b[i]);
                switching = true;
                }
            }
        } 
        
        const Http = new XMLHttpRequest();
        const urlBack = "/user?id={{nombreUser}}";

        function getBack(){            
            window.location.href = urlBack;
        }      

    </script>
{% endblock %}

{% block content%}    
    
    <div class="container marginContainer text-white">
        <div class="row ">
            <div class="col-12">
                <h1 class="text-center border-bottom pb-1"> Estás viendo los contenidos de la colección: {{nombre}}  </h1>
            </div>
        </div>       
        
        <div class="d-flex justify-content-center border-bottom pt-2 pb-3 mb-3">
            <button type="button" onclick="sortList(true)" class="btn btn-outline-primary me-3"> Ordenar lista (Ascendente) </button> 
            <button type="button" onclick="sortList(false)" class="btn btn-outline-primary mx-3"> Ordenar lista (Descendente) </button>  
            <button type="button" onclick="buscarJuego('{{nombreUser}}','{{nombre}}')" class="btn btn-outline-primary mx-3"> Buscar juego </button> 
            <button type="button" onclick="eliminar_coleccion('{{nombreUser}}','{{nombre}}')" class="btn btn-outline-primary mx-3"> Eliminar colección </button> 
            <button type="button" onclick="getBack()" class="btn btn-outline-primary ms-3"> Volver </button>
        </div>  

        {% from "_macro.html" import show_game %}
        
        {{ show_game(listaX,nombreUser,nombre, nombreJuegos)   }}        

        
    </div>    
{% endblock %}