<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{nombre_Juego}}</title>
    <script> 
        const urlBack = "/{{id}}/{{nombre_lista}}/search?";
        function getBack(){            
            window.location.href = urlBack;
        }  

        const urlJuegoAgregado = "/{{id}}/{{nombre_lista}}/search/{{slug}}/agregarJuego"
        function addGame(){            
            window.location.href = urlJuegoAgregado;
        } 
    </script>   
    <link rel="stylesheet" type = "text/css" href = "{{ url_for('static', filename='css/custom.css') }}">
    <script src="{{ url_for('static', filename='javascript/funcionesFront.js') }}"></script>
</head>

<body class="fondo" onload="cambiarImagen('{{img}}')">

    <div class="container marginContainer text-white">
        <div class="row">
            <div class="col-12">
                <h1 class="text-center border-bottom pb-1"> Información de {{info_juego.getElement(0)}} </h1>
            </div>
        </div>
        
        <div class="d-flex justify-content-center border-bottom pt-2 mb-3">     
            <div class="me-3">
                <button onclick="addGame()" class="btn btn-outline-primary"> Agregar a mi lista </button>           
            </div>            
            <div class="mb-3">
                <button onclick="getBack()" class="btn btn-outline-primary"> Volver </button>      
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <img class="rounded img-fluid mx-auto d-block py-1" id="imagen-juego" src="" alt="{{img}}">
                </div>
            </div>
            <div class="row d-flex">
                <ul class="list-group list-group-flush col-12 justify-content-center">
                    <li class="list-group-item"> Nombre : {{info_juego.getElement(0)}} </li>
                    <li class="list-group-item"> Fecha de lanzamiento : {{info_juego.getElement(2)}} </li>
                    <li class="list-group-item"> Puntaje en metacritic : {{info_juego.getElement(3)}} </li>
                    <li class="list-group-item"> Página web : {{info_juego.getElement(4)}} </li>
                    <li class="list-group-item"> Plataformas : {{info_juego.getElement(5)}} </li> 
                    <li class="list-group-item"> Desarrolladoras : {{info_juego.getElement(6)}} </li>
                    <li class="list-group-item"> Géneros : {{info_juego.getElement(7)}} </li>
                    <li class="list-group-item"> Distribuidora : {{info_juego.getElement(8)}} </li>
                    <li class="list-group-item"> Rating Esrb : {{info_juego.getElement(9)}} </li>
                </ul>
            </div>
        </div>         
               
        
    </div>      
</body>

</html>
